.hamContent{
    /* display: none; */
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
}
.hamMenu{
    cursor: pointer;
    position: relative;
}

.hamMenu:hover .hamContent{
display: block;
flex-direction: column;
}
.active{
    color: #3C65F5;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    /* transform: scaleX(1.5);
    transition: 2s; */
}